{% extends 'basic.html' %}
{% load static %}

{% block body %}
{% csrf_token %}
<h1>
<a href="auth_logout">Logout</a> 
</h1>
<center>
    <h2>All Student Information</h2>
        <table border="1px">
            <tr>
                <th>Id</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>Email</th>
                <th>Password</th>
                <th>City</th>
                <th>Contact</th>
                <th>Action</th>
            </tr>

            {% for i in data %}

            <tr>
                <td>{{i.id}}</td>
                <td>{{i.fname}}</td>
                <td>{{i.lname}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
                <td>{{i.city}}</td>
                <td>{{i.contact}}</td>
                <td>
                    <a href="edit?id={{i.id}}">Edit</a>

                    <a href="delete?id={{i.id}}">Delete</a>
                </td>
            </tr>
           

            {% endfor %}

        </table>
        
    </center>
    <a href="auth_logout">Logout</a> 
  
{% endblock %}